.App {
  text-align: center;
}

.Board {
  margin: auto;
  line-height: 0;
}

.buttons {
  margin: auto;
  display: table;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Cell {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
}

.off {
  background-color: white;
}

.on {
  background-color: black;
}
